# Worktrees
.worktrees/

# Build directories
build/
build*

pkg

# IDE
.vs/
.vscode/
*.user
*.suo
*.sln
*.vcxproj*

# Compiled files
*.obj
*.o
*.lib
*.a
*.exe
*.dll
*.pdb
*.ilk

# Logs
*.log

benchmark/official_bthread_reference/